{% extends "LibraryFrontendBundle::layout.html.twig" %}

{% block style%}
    <link rel="stylesheet" href="{{ asset('bundles/libraryfrontend/css/library.css') }}"/>
{% endblock %}

{% block javascript%}
    <script src="{{ asset('bundles/libraryfrontend/js/app.js') }}"></script>
    <script src="{{ asset('bundles/libraryfrontend/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/libraryfrontend/js/directives.js') }}"></script>
{% endblock %}

{% block title %}Simple Library{% endblock %}

{% block content %}
    <div class="well" ng-repeat="book in library.books" ng-hide="book.isRemoved">
        <div class="row" ng-hide="book.isEdited">
            <div class="col-md-12">
                <div class="pull-right">
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-default btn-xs" ng-click="library.removeBook(book)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <span class="pull-right">[[ book.yearRelease ]] - [[ book.publisher ]]</span>
                <h4>[[ book.name ]]</h4>
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="library.editBookStart(book)">
                        <span class="glyphicon glyphicon-pencil"></span> edit
                    </button>
                </div>
                <span class="grey">[[ book.author ]]</span>
                <p>[[ book.description ]]</p>
            </div>
        </div>
        <div class="row" ng-show="book.isEdited">
            <div class="col-md-12">
                <form name="editForm" ng-submit="editForm.$valid && library.editBookSubmit(book)" novalidate>
                    <!-- Review Form -->
                    <h4>Edit a Book</h4>
                    <fieldset class="form-group">
                        <input ng-model="book.name" type="text" class="form-control" placeholder="Title" title="Title" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input ng-model="book.author" type="text" class="form-control" placeholder="Author" title="Author" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input ng-model="book.yearRelease" type="number" class="form-control" placeholder="Year release" title="Year release" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input ng-model="book.publisher" type="text" class="form-control" placeholder="Publisher" title="Publisher" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea ng-model="book.description" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Edit book" />
                        <input type="button" class="btn btn-primary pull-right" value="Cancel" ng-click="library.editBookCancel(book)"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <form name="reviewForm" ng-controller="BookController as bookCtrl" ng-submit="reviewForm.$valid && bookCtrl.addBook(library)" novalidate>
                    <!-- Review Form -->
                    <h4>Add a Book</h4>
                    <fieldset class="form-group">
                        <input ng-model="bookCtrl.book.name" type="text" class="form-control" placeholder="Title" title="Title" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input ng-model="bookCtrl.book.author" type="text" class="form-control" placeholder="Author" title="Author" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input ng-model="bookCtrl.book.yearRelease" type="number" class="form-control" placeholder="Year release" title="Year release" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input ng-model="bookCtrl.book.publisher" type="text" class="form-control" placeholder="Publisher" title="Publisher" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea ng-model="bookCtrl.book.description" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Add book" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
